@model Scoliosis.Models.UploadDocumentLoyoutViewModel

@using Microsoft.AspNetCore.Http

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>UserSupplement - Scoliosis</title>


    <!-- Bootstrap core JavaScript-->
    <script src="~/vendor/jquery/jquery.js"></script>
    <script type="text/javascript" src="~/js/cleave.js"></script>
    <script type="text/javascript" src="~/js/moment.js"></script>
    <script type="text/javascript" src="~/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="~/js/sb-admin-2.min.js"></script>

    <script type="text/javascript" src="~/js/jquery.validate.js"></script>
    <script type="text/javascript" src="~/js/Restrict.js"></script>


    <link href="~/vendor/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/css/sb-admin-2.css" rel="stylesheet">

    <script src="~/js/jquery-ui.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css">


    <style type="text/css">
        input.CtrlBtn {
            background: #DADAAD;
            color: #000000;
            font-weight: bold;
            font-family: Arial;
            font-size 10px;
            width: 140px;
        }

        input.ro {
            border-style: groove;
            background: #DDD;
        }

        body {
            background: #75C864;
            font-family: Arial;
            max-height: 800px;
            overflow: hidden
        }

        table {
            border: 2px solid #75C864;
        }

        tr.noneTr {
        }

        tr {
            border: 2px solid #75C864;
        }

        td {
            border: 2px solid #75C864;
            font-family: Arial;
            font-size: 16px;
            color: #000000
        }

        th {
            border: 2px solid #75C864;
            font-family: Arial;
            font-size: 16px;
            color: #000000
        }

        h1 {
            font-family: Arial;
            color: #000000
        }
    </style>
</head>
<body id="page-top">

    <form id="form" action="../Patient/UploadDocument?Id=@Model.Id" enctype="multipart/form-data" method="post">

        <div id="content">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="d-sm-flex align-items-center justify-content-between mb-4">
                    <h1>Upload Document</h1>
                </div>

                <div class="col-lg-12">
                    <!-- Content Row -->
                    <div class="row">
                        <!-- Content Column -->
                        <div class="col-lg-12 mb-4">

                            <div class="card shadow mb-4">

                                <table width="100%" border="0" cellspacing="0" cellpadding="2">

                                    <tr width="22%" bgcolor="RoyalBlue"><th colspan="2">Upload Document Information</th></tr>
                                    <tr>
                                        <td valign=top class="level2">Id</td>
                                        <td>
                                            @Model.Id
                                        </td>
                                    </tr>

                                    <tr>
                                        <td valign=top class="level2">Name</td>
                                        <td>
                                            @Model.Filename
                                        </td>
                                    </tr>


                                    <tr width="22%" bgcolor="RoyalBlue"><th colspan="2">Description</th></tr>
                                    <tr>
                                        <td valign=top class="level2">Description</td>
                                        <td>
                                            <input type="hidden"
                                                   id="Id"
                                                   name="Id"
                                                   value="@Model.Id">

                                            <input type="hidden"
                                                   id="Name"
                                                   name="Name"
                                                   value="@Model.Filename">

                                            <input type="hidden"
                                                   id="CreatedDate"
                                                   name="CreatedDate"
                                                   value="@Model.CreatedDate">

                                            <input type="hidden"
                                                   id="CreatedBy"
                                                   name="CreatedBy"
                                                   value="@Model.CreatedBy">

                                            <input type="text"
                                                   id="Description"
                                                   name="Description"
                                                   value="@Model.Description"
                                                   placeholder="">
                                        </td>

                                    </tr>
                                    <tr>
                                        <td> &nbsp;</td>
                                        <td><input type="file" name="file" id="file" /></td>

                                    </tr>

                                </table>





                            </div>

                            <div class="col-lg-2"> <input type="submit" value="Save" class="" /> <input type="button" value="Back to List" class="" onclick="javascript:window.location.href='../Patient/UploadDocumentList'" /></div>
                            <div class="col-lg-2"> </div>
                        </div>

                       
                    </div>
                </div>

            </div>
        </div>
    </form>
    <script>
        function goBack() {
            window.history.back();
        }
    </script>


    <div id="dialog" title="Alert Message"></div>






    <script src="~/js/jquery-ui.js"></script>
    <link href="~/css/jquery-ui.css" rel="stylesheet" type="text/css">
    <script>
       var _isShowMessage = '@Context.Session.GetString("_isShowMessage")';
        var _alertMessage = '@Context.Session.GetString("_alertMessage")';


        if (_isShowMessage == 'true' && _alertMessage != '') {

             $( "#dialog" ).dialog({
              autoOpen: true,
              modal: true,
              width: 500,
              height: 300,
              position: { my: "center", at: "center", of: window  },
              open: function() {
                    jQuery('.ui-widget-overlay').on('click', function() {
                        jQuery('#j_dialog').dialog('close');
                    })
                },

              buttons: {
                  Ok: function () {

                      $.ajax({
                        method: "post",
                        url: "./WebRemoveSession",
                        error: function (xhr, status, err) {
                            alert(err);
                           }

                        }).done(function (res) {

                        });
                  $( this ).dialog( "close" );
                }
                },
              show: {
                effect: "fade",
                duration: 10
              },
              hide: {
                effect: "fade",
                duration: 10
              }

             });


           $('#dialog').show().html(_alertMessage);

            //alert(_alertMessage);
        }



    </script>

</body>
</html>
